<nav class="footer navbar navbar-expand-lg sticky-top navbar-toggleable-sm">
    <section class="collapse navbar-collapse" id="navbarNav">
        <p class="mr-2">Derechos reservados. 2021. Alexander Vásquez Rodríguez |</p>
        <img class="imagenFooter mr-2" src="assets/icons/facebook.png" alt="facebook" />
        <img class="imagenFooter mr-2" src="assets/icons/twitter.png" alt="twitter" />
        <img class="imagenFooter mr-2" src="assets/icons/youtube.png" alt="youtube" />
    </section>
</nav>